@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h4>Add a new doctor</h4>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @required = true})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @required = true})
  </div>
  <input type="submit" value="Add new doctor" />
}
<p>@Html.ActionLink("Show all Doctors", "Index")</p>