@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models;
@model DoctorsOffice.Models.Doctor;

<h2>Doctor Details</h2>
<hr />
<h3>@Model.FirstName @Model.LastName</h3>

<ul>
@if (@Model.Patients.Count == 0)
{
  <p>This Doctor does not contain any patients.</p>
}
else
{
  <h4>Patients the Doctor contains:</h4>
  <ul>
  @foreach(var join in Model.Patients)
  {
    <li>@join.Patient.Description</li>
  }
  </ul>

}

<p>@Html.ActionLink("Back to doctors", "Index")</p>
<p>@Html.ActionLink("Edit Doctor", "Edit", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Delete Doctor", "Delete", new { id = Model.DoctorId })</p>