@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h1>Add Doctor for Patient</h1>
<hr />
<h3>@Model.LastName, @Model.FirstName</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.Label("Select Doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Save" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back to Patient List", "Index")</p>