@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models;
@model List<DoctorsOffice.Models.Patient>;

<h1>Add a New Patient</h1>
<hr />

<div class="form-group">
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @required = true})
</div>
<div class="form-group">
  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @required = true})
</div>
<div class="form-group">
  @Html.LabelFor(model => model.BirthDate)
  @Html.EditorFor(model => model.BirthDate, new { @class = "form-control", @require = true})
</div>
<input type="submit" value="Add New Patient" class="btn btn-success" />

<hr />
<p>@Html.ActionLink("Home", "Index", "Home")</p>