@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models;
@model DoctorsOffice.Models.Patient;

<h1>Edit Patient Details</h1>
<hr />
<h3>@Html.DisplayFor(model => @Model.LastName), @Html.DisplayFor(model => @Model.FirstName)</h3></h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)
  <div class="form-group">
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @required = true})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @required = true})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Birthday)
    @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", @type="date", @require = true})
  </div>
  <input type="submit" value="Edit Patient" class="btn btn-success" />
}

<hr />
<p>@Html.ActionLink("Back to Patient List", "Index")</p>